$global-padding: 0px;

$tech-svg-size: 100px;
//Breakpoints
$screen-mini-sm: 300px;
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
//BreakPoint Mixins
@mixin mini {
  @media (min-width: #{$screen-mini-sm}) {
    @content;
  }
}
// Small devices
@mixin sm {
  $global-padding: 0px;
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  $global-padding: 20px;

  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  $global-padding: 25px;
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin focusGrow() {
  transition: all 0.2s ease-in-out;
  &:hover {
    @content;
    transform: scale(1.1);
    cursor: pointer;
  }
}

@mixin hocus() {
  background-image: linear-gradient($secondary-color, $secondary-color);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  &:hover,
  &:focus {
    @content;
  }
}
