.contact-section {
  width: 100%;
  height: 800px;
  padding-left: 25px;
  padding-right: 25px;
  h2 {
    font-size: 50px;
    line-height: 61px;
    font-family: "Montserrat", sans-serif;
    line-height: 61px;
    font-size: 50px;
    color: #c14953;
    font-style: italic;
    margin: 0;
    font-weight: 700;
  }
  .contact-container {
    display: flex;

    .cont-left {
      width: 50%;
      span {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        line-height: 37px;
        font-size: 30px;
        color: #764248;
      }
    }
  }
}
