footer {
  height: 93px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: white;
    font-family: $primary-font;
    font-size: $small + 10px;
  }
}
