.loader {
  position: absolute;
  height: 300vh;
  width: 100%;
  background-color: $base-color;
  display: flex;
  justify-content: center;
  padding-top: 20rem;
  animation-delay: 3.5s !important;
}
.d-none {
  display: none;
}

.delay-2s {
  animation-delay: 1.2s !important;
}
