.navigation {
  height: 61px;
  padding-left: $global-padding;
  padding-right: $global-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-name {
    h2 {
      color: $primary-color;
      font-family: $primary-font;
      font-weight: 700;
      font-size: 35px;
      line-height: 43px;
      font-style: italic;
      @include hocus() {
        background-size: 100% 2px;
        cursor: pointer;
      }
      @include mini {
        // font-size: 20px;
        line-height: 30px;
      }
      @include md {
      }
    }
  }
  .navigation-contents {
    display: flex;
    align-items: center;
    .nav-content-container {
      width: 100px; //Temp
      h3 {
        font-family: $primary-font;
        font-weight: 500;
        line-height: 34px;
        font-size: $small;
        color: $secondary-color;
        @include hocus() {
          background-size: 50% 2px;
          cursor: pointer;
        }
      }
      @include mini {
        display: none;
      }
      @include md {
        display: block;
      }
    }
    .github-container {
      width: 120px;
      @include mini {
        display: none;
      }
      @include md {
        display: block;
      }
    }
  }
  .tab-button {
    display: block;
    @include md {
      display: none;
    }
  }
  .slider {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    .slider-menu {
      width: 100%;
      background-color: $secondary-color;
      .slider-head {
        padding: 20px;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          color: white;
          // font-size: $large;
        }
      }
      ul {
        margin: 0;
        list-style: none;

        li {
          color: white;
          font-family: $primary-font;
          font-size: $medium;
          transition: right 0.4s ease-in-out;
        }
      }
    }
  }
}

.set {
  transform: translateY(0);
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(20%);
  }
}
