.works-section {
  padding-left: $global-padding;
  padding-right: $global-padding;
  .works-header {
    h2 {
      font-family: $primary-font;
      line-height: 61px;
      font-size: $large;
      color: $primary-color;
      font-style: italic;
      margin: 0;
      font-weight: 700;
    }
    .below {
      display: flex;
      .rect {
        height: 15px;
        width: 140px;
        background-color: $primary-color;
        margin-left: 8px;
      }
      .box {
        width: 15px;
        height: 15px;
        background-color: $primary-color;
        margin-left: 10px;
      }
    }
  }
  .works-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: $global-padding;
    .work {
      width: 350px;
      background-color: white;
      height: 320px;
      border-radius: 17px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      .heading {
        text-align: center;
        height: 50%;
        h2 {
          font-family: $primary-font;
          font-weight: 600;
          font-size: 30px;
          line-height: 37px;
          font-style: italic;
          color: $secondary-color;
          margin: 0;
        }
        p {
          font-weight: 500;
          font-size: $small;
          line-height: 36px;
          text-align: left;
          color: $secondary-color;
          padding: 10px;
          font-family: $secondary-font;
        }
      }
      .tech {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25%;
        .svg {
          width: $tech-svg-size / 2;
          height: $tech-svg-size / 2;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: center;

        .red-button {
          width: 185px;
          height: 45px;
          background-color: $primary-color;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          span {
            color: white;
            font-family: $secondary-font;
            font-size: $small;
            line-height: 28px;
          }
        }
        .code-button {
          width: 55px;
          height: 45px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          background-color: #7dc95e;
          display: flex;
          align-items: center;
          justify-content: center;
          .document {
            color: white;
          }
          &:hover {
            cursor: pointer;
            // width: 155px;
            // -webkit-transition: width 1s;
            // transition: width 1s;
          }
        }
      }
    }
  }
}
