footer {
  height: 93px;
  background-color: #764248;
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
  }
}
